<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %> 
<body>
<%- include('partials/header.ejs') %> 
<!-- fin del header -->
<main>
  <div>
    <div class="contenedor">
      <form action="https://formsubmit.co/nicesweet-argentina@hotmail.com" class="form-class" method="POST">
        <div class="header-form">
          <h1 class="form-titulo">C<span>ontactanos!</span></h1>
        </div>

        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" name="name" id="nombreContacto" class="form-input" placeholder="Escriba su Nombre" >

        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" name="lastName" id="apellidoContacto" class="form-input" placeholder="Escriba su Apellido" >
        
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" name='email'id="emailContacto" class="form-input" placeholder="Escriba su email" >
        
        <label for="mensaje" class="form-label">Mensaje:</label>
        <textarea name="message" id="mensajeContacto" class="form-textarea" placeholder="Aquí escriba su mensaje" ></textarea>

        <button type="submit" class="button-submit">Enviar</button>
      </form>
    </div>
  </div>
</main>
<%- include('partials/footer.ejs') %> 
</body>
</html>