<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <link rel="stylesheet" href="/styles/us.css">

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <h1>Grupo 12</h1>
                <section class="container">
                    <article class="item">
                        <img src="/images/creators/dt.jpg" alt="">
                        <h2>David Toja</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                    <article class="item">
                        <img src="/images/creators/eal.jpg" alt="">
                        <h2>Eduardo A. Lucero</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                    <article class="item">
                        <img src="/images/creators/fv.jpg" alt="">
                        <h2>Fernanda Valdez</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                    <article class="item">
                        <img src="/images/creators/im.jpg" alt="">
                        <h2>Ignacio Márquez</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                </section>
                <section class="ocult">
                    <article class="item">
                        <img src="/images/creators/gato2.jpg" alt="">
                        <h2>Jonatan Cespedes</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                    <article class="item">
                        <img src="/images/creators/gato2.jpg" alt="">
                        <h2>Matías Lopez</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                    <article class="item">
                        <img src="/images/creators/gato2.jpg" alt="">
                        <h2>Ailén Siccardi</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae magnam modi accusantium
                            molestiae minus vero?</p>
                    </article>
                </section>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>