
<footer>
  <div class="footer-cont">
    <div>
      <p><strong>Suscribete a NiceSweet!</strong></p>
      <br> 
      <p>Y enterate de todas nuestras novedades</p>
      <div class="footer-sus">
        <div class="topnav"><input type="email" id="email" placeholder="Email"></div>
        <small class="text-danger" id="submitErrors"></small>
        <button class="button" id="btn"><span>Enviar</span></button>
      </div>
      <span class= "error-msg" id="emailErrors"></span>
    </div>
    <div class="redes">
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f" ></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://web.telegram.org"><i class="fab fa-telegram-plane"></i></a>
      <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>            
    </div>
  </div>
  <div class="term">
    <ul>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Política de cookie</a></li>
      <li><a href="#">Términos y condiciones</a></li>
      <li><a href="#">Envíos y devoluciones</a></li>
      <li><a href="#">Nosotros "NiceSweet"</a></li>
    </ul>
  </div>
</footer>