<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<%- include('../partials/bootstrap') %>

    <body>
    <%- include('../partials/header.ejs') %>
        <main class="container d-flex justify-content-center">
            <div class="d-flex justify-content-between row m-5 p-5 bg-teal-light border rounded">
                <div class="col-md-6 p-3 text-end mb-5" >
                    <a class="btn btn-warning" href="/admin/products">PRODUCTOS</a>
                </div>
                <div class="col-md-6 p-3 text-end">
                    <a class="btn btn-danger" href="/admin/users">USUARIOS</a>
                </div>
            </div> 
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>