* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main { 
    text-align: center; 
    display: grid;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

main h1 {
    color: blueviolet;
    font-size: 23px;
    margin: 15px;
}

main h2 { 
    color: orangered;
    font-size: 18px;
    margin: 10px 0;
 }

main p { 
    font-size: 15px;
    margin: 10px 0;
}

main .ocult { display: none; }

main .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 1280px;
}

img {  
    border-radius: 25px;
    padding: 10px;
    max-height: 300px;
    width: 100%;
}   

main .item {
    background-color: seashell;
    border: solid 2px cadetblue;
    border-radius: 25px;
    max-width: 310px; 
    margin: 8px;  
}

@media (min-width: 575px){
    main .item { max-width: 290px; } 
    img { max-height: 280px; }
}

@media (min-width: 768px){
    main .item { max-width: 270px; } 
    img { max-height: 260px; }
}

@media (min-width: 992px){
    main .item { max-width: 250px; }
    img { max-height: 240px; } 
}

@media (min-width: 1024px){
   main .item { max-width: 230px; }
   img { max-height: 220px; }
}